nav {
    position: absolute;
    width: 100vw;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: var(--bg-trans);
    height: 80px;
    padding: 16px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

#logoCtr {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 32px;
    text-decoration: none;
}

#logoCtr h1 {
    color: var(--text);
}

#logo {
    height: 40px;
}


nav h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

nav a {
    height: 100%;
}


.pagelink {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 32px;
    text-decoration: none;
    color: var(--text);
    background-color: transparent;
    transition: background-color 200ms;
    border-radius: 10px;
    font-size: 18px;
}

.pagelink:hover {
    background-color: rgba(255, 255, 255, 0.1);
}